<div class="col number-base">
    <div class="form-group">
        <label>Stap</label>
        <input type="number" class="form-control step-field" data-value="step">
    </div>
</div>
<div class="col description-base">
    <div class="form-group">
        <label>Beschrijving</label>
        <input class="form-control description-field">
    </div>
</div>
<div class='check-box-base remove-base'>
    <div class="form-group">
        <label><i class="fas fa-ban"></i></label>
        <input type="checkbox" class="form-control removeField">
    </div>
</div>